<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <span>
            <table th:each="job : ${jobs}" class="job-listing">
                <tr th:each="column : ${job}">
                    <td th:text="${#strings.capitalizeWords(column.key)}">Title</td>
                    <td th:text="${column.value}">Description</td>
                </tr>
            </table>
           <hr/>
    </span>
</div>

</body>
</html>